- player_datas.each do |player_data|
  .col-lg-3.col-md-3.col-sm-4.col-xs-6
    .player-star[id="player-data-#{player_data.id.to_s}" data-firstname="#{player_data.player.firstname}" data-lastname="#{player_data.player.lastname}" data-year="#{player_data.year}" data-team="#{player_data.team.alias}" data-assists="#{player_data.assists}" data-turnovers="#{player_data.turnovers}" data-blocks="#{player_data.blocks}" data-rebounds="#{player_data.rebounds}" data-steals="#{player_data.steals}" data-points="#{player_data.points}"]
      = image_tag('logos/' + player_data.team.alias + '.gif', class: 'star-bg')
      javascript:
        var starid = "#player-data-#{player_data.id.to_s}";
        var star = $(starid);
        draw_player_star($(star).attr('id'), {
          'firstname':  $(star).data('firstname'),
          'lastname':   $(star).data('lastname'),
          'year':       $(star).data('year'),
          'team':       $(star).data('team'),
          'teamlogo':   $(star).data('teamlogo'),
          'assists':    $(star).data('assists'),
          'turnovers':  $(star).data('turnovers'),
          'blocks':     $(star).data('blocks'),
          'rebounds':   $(star).data('rebounds'),
          'steals':     $(star).data('steals'),
          'points':     $(star).data('points')
        });
