p = "Olá #{@resource.email}!"

p Alguém requisitou o link para troca de senha. Você pode fazer isso clicando no link abaixo.

p = link_to 'Trocar minha senha', edit_password_url(@resource, reset_password_token: @token)

p Se você não requisitou a trocar de senha, por favor, ignore este email

p Sua senha não será trocada até você acessar o link acima
